<!DOCTYPE html>
<html class="bg-black">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>@ViewBag.Title</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'
        name='viewport'>
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/App/style.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.8.3.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/App/app-jq.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <!--Theme-->
    <!-- bootstrap 3.0.2 -->
    <link href="@Url.Content("~/Theme/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <!-- font Awesome -->
    <link href="@Url.Content("~/Theme/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link href="@Url.Content("~/Theme/css/AdminLTE.css")" rel="stylesheet" type="text/css" />
    <!-- Theme custom style -->
    <link href="@Url.Content("~/Theme/css/theme.custom.css")" rel="stylesheet" type="text/css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!-- Bootstrap -->
    <script src="@Url.Content("~/Theme/js/bootstrap.min.js")" type="text/javascript"></script>
</head>
<body class="bg-black">
    @RenderBody()
</body>
</html>
