@model RnD.TVLSec.ViewModels.RightViewModel
<div id="detailsPage" class="detailsPage  form-win col-xs-12">
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(model => model.ApplicationName)
            @Html.DisplayFor(model => model.ApplicationName)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ModuleName)
            @Html.DisplayFor(model => model.ModuleName)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.RightName)
            @Html.DisplayFor(model => model.RightName)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.RightTitle)
            @Html.DisplayFor(model => model.RightTitle)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description)
            @Html.DisplayFor(model => model.Description)
        </div>
    </div>
    <div class="row form-hr">
        <div id="buttonZone" class="pull-right buttonZone">
            <button type="button" class="btn btn-warning btn-sm btn-flat" id="btnCancel" name="btnCancel"
                onclick="CloseAppCommonWindow()">
                <i class="fa fa-times"></i>&nbsp;&nbsp;Cancel</button>
        </div>
    </div>
</div>
