@*@Html.RenderSideMenu()*@
<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu">
    <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i><span>Dashboard</span>
    </a></li>
    <li><a href="@Url.Action("Index", "Company")"><i class="fa fa-th"></i><span>Company</span>
    </a></li>
    <li><a href="@Url.Action("Index", "Application")"><i class="fa fa-th"></i><span>Application</span>
    </a></li>
    <li><a href="@Url.Action("Index", "Module")"><i class="fa fa-th"></i><span>Module</span>
    </a></li>
    <li><a href="@Url.Action("Index", "Menu")"><i class="fa fa-th"></i><span>Menu</span>
    </a></li>
    <li><a href="@Url.Action("Index", "Right")"><i class="fa fa-th"></i><span>Right</span>
    </a></li>
    <li><a href="@Url.Action("Index", "Role")"><i class="fa fa-th"></i><span>Role</span>
    </a></li>
    <li><a href="@Url.Action("Index", "UserGroup")"><i class="fa fa-th"></i><span>User Group</span>
    </a></li>
    <li><a href="@Url.Action("Index", "User")"><i class="fa fa-th"></i><span>User</span>
    </a></li>
</ul>
